<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <h1>form.html</h1>

    <form method="GET"
            th:action="@{/order/total{order_id}(order_id=${order_id})}">

        <label for="order_id">Order Id: </label>
        <input type="number" id="order_id" placeholder="Order Id" name="order_id">

        <button type="submit">Submit</button>

    </form>
    
</body>
</html>